@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: white;
  --background-end: ghostwhite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: hsla(0, 0%, 100%, 0.92);
    --background-start: hsla(0, 0%, 0%, 0.92);
    --background-end: hsla(313, 92%, 5%, 0.92);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to top, transparent, var(--background-end))
    var(--background-start);
}
